<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Sci.NET" value="https://nuget.pkg.github.com/SciDotNet/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
              <package pattern="*" />
        </packageSource>
        <packageSource key="Sci.NET">
            <package pattern="Sci.NET.*" />
            <package pattern="NuGet.Common" />
        </packageSource>
    </packageSourceMapping>
</configuration>
